@font-face {
    font-family: "SF Pro";
    src: url("./fonts/SF-Pro-Display-Regular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "FS Pro";
    src: url("./fonts/SF-Pro-Display-Thin.otf") format("opentype");
    font-weight: thin;
}

@font-face {
    font-family: "FS Pro";
    src: url("./fonts/SF-Pro.ttf") format("truetype");
}

@font-face {
    font-family: "Test_Söhne";
    src: url("./fonts/TestSöhne-Kräftig.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Test Söhne";
    src: url("./fonts/Test-Shne-Kr-ftig.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "times new roman";
    src: url("./fonts/times-new-roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "times new roman";
    src: url("./fonts/times-new-roman-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "times new roman";
    src: url("./fonts/times-new-roman-bold-italic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "times new roman";
    src: url("./fonts/times-new-roman-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
